<app-header></app-header>

<!-- <div class="ban_img my-5">
    <img src="../assets/images/ban1.jpg" alt="" class="d-block b2_img">
   
</div> -->

<div class="container">
    <div class="container  my-5 ">
        <div class="row my-5 about_cont">
            <div class="col-12 col-lg-8 col-md-6 col-sm-12 ">
                <div class="card cont_crd my-5">
                    <div class="card-body">
                        <div class="card-title">
                <h2 class="cont_abt "> About me </h2>
    
                        </div>
                        <p>Software developer skilled in building user-friendly pages, integrating APIs and scraping data from multiple websites. Collaborative team player focused on improving user experience. Adaptable and eager to learn new technologies!</p>
                    </div>
                </div>
                <div class="card cont_crd py-3 ">
                    <div class="card-body">
                        <div class="cad-title">
                            <h2> Experience <i class="fa-solid fa-rocket"></i></h2>
                            <p>I am a software developer with 10 months of experience at Multiplier AI Solutions, where I worked on developing and managing websites using WordPress, PHP, HTML, CSS, JavaScript, and Bootstrap. My responsibilities included building dynamic and responsive web applications, integrating third-party APIs, and optimizing website performance. Additionally, I have experience working with Java (Core Java, JDBC) for backend development and Python with Selenium for web scraping. I also played a key role in the Terrasourcing project, where I developed and maintained the website using WordPress and PHP. With a strong foundation in OOP concepts and hands-on experience in full-stack development, I am always eager to explore new technologies and build scalable solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12  my-5            ">
                <div class="abt_img ">
                    <img src="../assets/images/about.jpg" alt="" class="img-fluid  rounded-circle  d-block  img_about">
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12"></div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                
                    <!-- <img src="../assets/images/ban1.jpg" alt="" class="d-block w-100 col_img"> -->
                  
        
          
            </div>
        </div>
    </div>
    
    <!-- <div class="container">
    <div class="row">
        <h2 class="tech_head text-light">Tech Stack Known :</h2>
    </div>
    
        <div class="row my-3">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-html5 mx-2"></i> HTML</h4>
                            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor laborum consequuntur harum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-css3-alt mx-2"></i> CSS</h4>
                            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor laborum consequuntur harum!</p>
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-js mx-2"></i> JavaScript</h4>
                            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor laborum consequuntur harum!</p>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-bootstrap mx-2"></i> Bootstrap</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-angular"></i> Angular</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-wordpress"></i> Wordpress</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-solid fa-magnifying-glass"></i> Web Scrapping</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-java"></i> Java</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-python"></i> Python</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-php"></i> PHP</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-solid fa-database"></i> SQL</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-solid fa-database"></i> MySql</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    
    <div class="container">
        <div class="row">
            <h2 class="tech_head text-light">Tech Stack Known :</h2>
        </div>
    
        <div class="row my-5">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-html5 mx-2"></i> HTML</h4>
                            <p class="text-dark">Proficient in building responsive and structured web pages.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-css3-alt mx-2"></i> CSS</h4>
                            <p class="text-dark">Skilled in designing visually appealing and user-friendly interfaces.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-js mx-2"></i> JavaScript</h4>
                            <p class="text-dark">Experience in interactive web development and API integration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row my-5">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-bootstrap mx-2"></i> Bootstrap</h4>
                            <p class="text-dark">Used for building responsive layouts and UI components.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-angular"></i> Angular</h4>
                            <p class="text-dark">Developed dynamic SPAs using Angular's component-based architecture.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-wordpress"></i> WordPress</h4>
                            <p class="text-dark">Built and managed websites using WordPress and PHP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row my-5">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-solid fa-magnifying-glass"></i> Web Scraping</h4>
                            <p class="text-dark">Used Python with Selenium for web scraping and automation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-java"></i> Java</h4>
                            <p class="text-dark">Experienced in Java development with OOP and backend services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-python"></i> Python</h4>
                            <p class="text-dark">Utilized Python for scripting, automation, and web scraping.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row my-5">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-brands fa-php"></i> PHP</h4>
                            <p class="text-dark">Developed server-side applications and dynamic websites using PHP.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-solid fa-database"></i> SQL</h4>
                            <p class="text-dark">Skilled in writing optimized SQL queries and managing databases.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="card tech_card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="fa-solid fa-database"></i> MySQL</h4>
                            <p class="text-dark">Worked with MySQL for database management and performance tuning.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>


<app-footer></app-footer>
