<app-header></app-header>

<!-- <div class="container">
    <div class="cards_Sec  p-4">
        <div class="row justify-content-center">
            <div class="col-md-4 my-3">
                <div class="card edu-card">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3>B-TECH</h3>
                            <p><strong>Passed Out Year:</strong> 2022</p>
                            <h5>College Name</h5>
                            <p>Helapuri Institute of Technology and Science</p>
                            <h6>CGPA</h6>
                            <p>7.6</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card edu-card">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3>Higher Secondary Education</h3>
                            <p><strong>Passed Out Year:</strong> 2018</p>
                            <h5>College Name</h5>
                            <p>Sri Venkateswara Junior & Degree College</p>
                            <h6>CGPA</h6>
                            <p>6.1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card edu-card">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3>Matriculation</h3>
                            <p><strong>Passed Out Year:</strong> 2016</p>
                            <h5>School Name</h5>
                            <p>ZPH School</p>
                            <h6>CGPA</h6>
                            <p>9.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class="education_sec">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12  d-flex flex-column align-items-center justify-content-center">
    <!-- Box-1 -->
                <div class="card my-2 me-4 leftbox" style="width:28rem;">
                    <img src="../../../assets/images/my_image.jpeg" class="bg-white p-2" width="60" height="60" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Bachelors of Technology[B.Tech]</h5>
                        <h5 class="card-title">JNTUK</h5>
                      <p class="card-subtitle mb-2 text-muted fs-7">Helapuri institute of technology and science</p>
                      <p class= "card-text text-muted fw-bold fs-8">CGPA[7.6]</p>
                      
                    </div>
                    <span class="left-arrow"></span>
                  </div>
    <!-- Box-1 -->
    
    <!-- Box-2 -->
    <div class="card my-2 me-4 rightbox" style="width: 28rem;">
        <img src="../../../assets/images/my_image.jpeg" class="bg-white p-2" width="60" height="60" alt="">
        <div class="card-body">
            <h5 class="card-title">Higher Secondary Education</h5>
          <p class="card-subtitle mb-2 text-muted fs-7">SV Junior and Degree College</p>
          <p class= "card-text text-muted fw-bold fs-8">perc[61%]</p>
          
        </div>
        <span class="right-arrow"></span>
      </div>
    <!-- Box-2 -->
    <!-- Box-3 -->
                <div class="card my-2 me-4 leftbox" style="width:28rem;">
                    <img src="../../../assets/images/my_image.jpeg" class="bg-white p-2" width="60" height="60" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Matriculation</h5>
                      <p class="card-subtitle mb-2 text-muted fs-7">ZP High School</p>
                      <p class= "card-text text-muted fw-bold fs-8">CGPA[9.0]</p>
                      
                    </div>
                    <span class="left-arrow"></span>
                  </div>
    <!-- Box-3 -->
    
    <!-- Box-4-->
    <!-- <div class="card my-2 me-4 rightbox" style="width: 28rem;">
        <img src="../../../assets/images/img1.jpeg" class="bg-white p-2" width="60" height="60" alt="">
        <div class="card-body">
            <h5 class="card-title"></h5>
          <p class="card-subtitle mb-2 text-muted fs-7">Card-Subtitle</p>
          <p class= "card-text text-muted fw-bold fs-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui labore fugiat deserunt quisquam ullam quos iusto soluta dolor porro pariatur vel, voluptates, quaerat cupiditate omnis molestiae, reiciendis totam dolore. Culpa.</p>
        </div>
        <span class="right-arrow"></span>
      </div> -->
    <!-- Box-4 -->
            </div>
        </div>
    </div>
</section>





<app-footer></app-footer>
